/* responsive for home page */

@media only screen and (max-width: 800px) { /* mobile */

    
    .nav-container {

        width: 100%;
        text-align: center;
    }

    .nav-list   {

        margin-top:  30px;
        
    }

    .racket1-container,
    .racket2-container,
    .racket3-container,
    .racket4-container{ 

                margin-bottom: 200px;
                height: 80%;
                width: 100%;
    }


    .polo-t-shirt-container1,
    .sneaker-container,
    .short-container{

        margin-bottom: 150px;
        height: 80%;
        width: 100%;

    }

    .polo-t-shirt-container2 {

        height: 90% ;
        margin-bottom: 10px ;
        width: 100%;

    }

    .discount-container,
    .fast-delivery-container,
    .free-shipping-container,
    .secure-payment-container {

        height: 90%;
        margin-bottom: 20px;

    }

    .subscribe-form-container {

        margin-top: 40px;
    }

    .subscribe-form-container #email-input {

        margin-bottom: 40px;
        width: 60%;
    }

}

@media  only screen and (min-wdith: 801px) and (max-width: 1024px) { /* tablest */
    
    body{ 

            background-color: black;
    }
}