@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {

    --universal-font: 'Roboto', sans-serif;
    --hovering-color: #D1D809;
    --secondary-color: #918B3D;

}

* {

    margin: 0;
    padding: 0;
}

body {

    overflow-x: hidden;
}

/* navbar starts */

.nav-container .nav-list ul  li {

    display: inline;
    margin-left: 40px;
   
}


.nav-container  li:hover {
    color: var(--hovering-color) ;
    
}

.nav-container{

    background-image: url("../images/tennis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 30px;
    color: #fff;
    font-family: var(--universal-font);
    font-weight:bold;
    cursor: pointer;
    width: 100%;


}
.nav-container a {

    text-decoration: none;
    color: #fff;
}
.nav-container p {
    margin-left:100px;
    font-size: 1.5rem;
    
}

.nav-container p:hover {

    color: var(--hovering-color);

}

/* navbar ends*/

/* products container */



.products-ultimate-container .new-container h2 {

    color: var(--secondary-color);
    font-family: var(--universal-font);
    font-weight: lighter;
    margin-top: 50px;
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: solid 2px #000;
    width: 90%;
}

.products-ultimate-container .rackets-container {

    width: 90%;
    margin-top:  40px;
    font-family: var(--universal-font);
    margin-left: auto;
    margin-right: auto;
}

.rackets-container button {

    margin-top: 10px;
    width: 100px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;

}

.rackets-container img {
    width: 100%;
   
}



.rackets-container p {

    text-align: center;
    margin-top: 20px;
}

.racket1-container,
.racket2-container,
.racket3-container,
.racket4-container{
    border: solid 1px grey;
    width: 80%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
 
}

.racket1-container:hover,
.racket2-container:hover,
.racket3-container:hover,
.racket4-container:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.products-ultimate-container .products2-container {

    font-family: var(--universal-font);
    width: 90%;
    margin-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}


.products2-container p {
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    
}

.products2-container img {

    width: 100%;
    border-bottom: 1px solid grey;
}

.products2-container button {

    margin-top: 10px;
    width: 100px;
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

.polo-t-shirt-container1,
.polo-t-shirt-container2,
.sneaker-container,
.short-container{

    width: 80%;
    border: solid 1px grey;
    height: 380px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.polo-t-shirt-container1:hover,
.polo-t-shirt-container2:hover,
.short-container:hover,
.sneaker-container:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* products end */
/* features starts */


.ultimate-features-container {

    width: 100%;
    font-family: var(--universal-font);
    
}
.features-container {

    margin-top: 200px;
    width: 90%;
    text-align: center;
}

.features-container p{

    margin-top: 20px;

}

 /* features end */

 /* footer */

 footer{

    width: 100%;
    height: 300px;
    background-color: rgb(214, 214, 214);
 }

 .subscribe-container {

    margin-top: 200px;
 }

  
.subscribe-form-container {

    margin-top: 150px;
    text-align: center;
    font-family: var(--universal-font);

    
}

.subscribe-form-container h3 {

    color:var(--secondary-color);
    margin-bottom: 30px;
}


.subscribe-form-container #email-input{
    width: 450px;
    height: 50px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-left: 20px;
    border-style: none;
    color: #fff;

}
.subscribe-form-container #subscribe-button {
    color: var(--secondary-color);
    color: #fff;
    background-color: var(--secondary-color);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    border-style: none;
    margin-left: 20px;
    
}